.features{
    width: 100%;
    min-height: 60rem;
    padding: 6rem 0 0 0;
    background-color: whitesmoke;

    box-shadow: 0 0 1rem 0.1rem rgba(0,0,0,0.2);
    z-index: 2;

    &__header{
        text-align: center;
        margin-bottom: 10rem;

        &-title{
            margin-bottom: 6rem;
            font-size: 4rem;
            font-weight: bold;
        }

        &-desc{
            line-height: 2.4rem;
        }

    }

    &__content{
        display: flex;

        min-height: 50rem;

        @media screen and (max-width: map-get($breakpoints, 'medium')) {
            flex-direction: column;
        }

    }

    &__imageWrapper{
        flex-basis: 55rem;
        
        &-image{
            width: 100%;
            transform: rotateY(180deg);
        }

    }

    &__featuresWrapper{
        flex-grow: 1;

        @import 'subComponents/featureItem';

    }


}