.contactUsItem{
    width: 100%;
    min-height: 4rem;
    display: flex;

    &__icon{
        flex-basis: 2.4rem;
        text-align: center;
        line-height: 2.4rem;
        background-color: $brand-color;
        color: white;
        margin-left: 0.5rem;
        align-self: center;
        font-size: 1.8rem;
    }

    &__text{
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        direction: ltr;
    }

}