.input{
    width: 80%;
    height: 3rem;

    position: relative;

    &__input{
        width: 100%;
        height: 3.2rem;
        border: 0;
        text-align: center;
        &:focus{
            outline: none;
        }
    }

    &__underline{
        width: 100%;
        margin: auto;
        transition-duration: 0.3s;
        background-color: #bfbfbf;
        height: 0.1rem;
        position: absolute;
        bottom: 0;
    }

    &__activeUnderline{
        width: 0;
        margin: auto;
        transition-duration: 0.3s;
        background-color: $brand-color;
        height: 0.1rem;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        &.input--showUnderline{
            width: 100%;
        }
    }

    &.input--error{
        .input__activeUnderline{
            background-color: red;
            width: 100%;
        }
    }

}